@import "variable";
.header{
  //max-height: 48px;
}
.header__body {

  background-color: #354556;
  text-align: center;
  padding: 130px 0 100px 0;

  h1 {
    margin: 0;
    font-size: 90px;
    color: #ffffff;
    font-family: $lato;
    text-transform: uppercase;
    font-weight: 400;
  }

  h2 {
    color: #a5b6c7;
    font-size: 32px;
    padding: 20px 0 40px 0;
    text-transform: uppercase;
  }

  a {
    background-color: transparent;
    color: #f2f3f4;
    border: 1px solid #868f9a;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 15px 35px;
    font-size: 15px;
    font-family: $lato;
    transition: .4s ease-in-out;
    display: inline-block;
    text-decoration: none;

    &:hover {
      color: black;
      background-color: #f2f3f4;
      transition: .4s ease-in-out;
      border-color: black ;
      outline: none;
    }
  }
}