@import "variable";
@import "blog";
@import "reset";
@import "header";
@import "navbar";
@import "footer";
@import "normalize";
@import "contact";
@import "services";
@import "about_us";
@import "home";


.container {
  max-width: 1650px;
  margin-left: auto;
  padding: 0 10%;
}

body {
  margin: 0;
  color: #fff;
  //background-color: #1e3cd2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 10fr  auto;

  .header {
    //flex-grow: 1;
  }

  .footer {
    //flex-shrink: 0;
  }
}