$lato: sans-serif;
$sans: 'Lato';

@mixin footer_link {
  color: #7f8e9c;
  font-family: $lato;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
}

@mixin p_p {
  font-size: 15px;
  line-height: 22px;
  color: #7f8c8d;
  font-family: $lato;

}

@mixin name_header {
  background-color: #354556;
  height: 100px;
}
@mixin name_h2{
    padding-top: 2.8%;
        text-transform: uppercase;
        font-family: $lato;
        text-align: left;
        font-size: 40px;
        color: #8d959f;
}