<div class="container">
    <div class="footer__body">
        <div class="footer__left">
            <ul class="left__list_left">
                <li class="left__link_left"><a href="{% url 'about' %}">about us</a></li>
                <li class="left__link_left"><a href="#">Company Overview</a></li>
                <li class="left__link_left"><a href="#">Customers</a></li>
                <li class="left__link_left"><a href="#">Testimonials</a></li>
            </ul>
            <ul class="left__list_right">
                <li class="left__link_right"><a href="{% url 'services' %}">Services</a></li>
                <li class="left__link_right"><a href="#">UI Design</a></li>
                <li class="left__link_right"><a href="#">Consulting</a></li>
                <li class="left__link_right"><a href="#">Support</a></li>
            </ul>
        </div>
        <div class="footer__center">
            <ul class="center__list_left">
                <li class="center__link_left"><a href="{% url 'blog' %}">Blog</a></li>
                <li class="center__link_left"><a href="#">Latest posts</a></li>
                <li class="center__link_left"><a href="#">Popular posts</a></li>
            </ul>
            <ul class="center__list_right">
                <li class="left__link_right"><a href="{% url 'contact' %}">Contact</a></li>
                <li class="left__link_right"><a href="#">Online</a></li>
                <li class="left__link_right"><a href="#">Addresses</a></li>
                <li class="left__link_right"><a href="#">Map</a></li>
            </ul>
        </div>
        <div class="footer__right">
            <a href="{% url 'home' %}">Whitsquare</a>
        </div>
    </div>
</div>
