{% load static %}
<div class="container">
    <div class="header__nav">
        <nav class="nav">
            <div class="nav__logo">
                <a href="#">Whitsquare</a>
            </div>
            <ul class="nav_list">
                <li class="nav__link"><a href="#">home</a></li>
                <li class="nav__link"><a href="#">About us</a></li>
                <li class="nav__link"><a href="#">services</a></li>
                <li class="nav__link"><a href="#">Blog</a></li>
                <li class="nav__link"><a href="#">contact</a></li>
            </ul>
        </nav>
    </div>
</div>