{% extends 'sport/base.html' %}
{% load static %}
{% block title %}Services{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'sport/css/services.css' %}">
{% endblock %}
{% block content %}
    <section class="services">
        <div class="services__title">
            <div class="container">
                <h2>
                    services
                </h2>
            </div>
        </div>
        <div class="services__body">
            <div class="container">
                <div class="body__top">

                    <h2>Main service</h2>
                    <p>
                        In nec turpis sem. Ut pharetra erat justo, vitae dapibus ante laoreet nec. Vestibulum dapibus
                        ante
                        eu viverra tristique. Nunc massa leo, vulputate a ipsum sit amet, eleifend feugiat odio. Integer
                        at
                        massa vel ligula placerat sollicitudin ut nec sapien. Etiam aliquet nulla a nulla lobortis
                        tincidunt. Suspendisse elementum suscipit vulputate. Vestibulum ante ipsum primis in faucibus
                        orci
                        luctus et ultrices posuere cubilia Curae; Aliquam luctus mollis augue, at tempor nibh imperdiet
                        et.
                        In pellentesque ante sit amet sapien elementum.
                    </p>
                    <div class="body__btn">
                        <div>
                            <img src="{% static 'sport/img/Image.jpg' %}" alt="">
                        </div>
                        <div>
                            <ul class="btn__list">
                                <li><p>Lorem ipsum dolor sit amet</p></li>
                                <li><p>Sed dapibus urna sed mattis</p></li>
                                <li><p>Mauris nec mauris ultrice</p></li>
                                <li><p>Donec convallis risus auctor</p></li>
                                <li><p>Suspendisse potenti</p></li>
                                <li><p>Donec sapien ipsum, consectetur ac</p></li>
                                <li><p>Donec eu placerat ligula</p></li>
                                <li><p>Fusce non justo sed lorem blandit</p></li>
                                <li><p>Cras vitae purus a eros dictum sagittis</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services__btn">
            <div class="container">
                <div class="btn__body">
                    <div class="btn__left">
                        <h2>pharetra erat</h2>
                        <p>Fusce vulputate nisi libero, eget posuere lectus vulputate in. Nullam vulputate mauris a
                            porta dignissim. Nam et purus imperdiet, venenatis mi et, facilisis leo. Ut volutpat mi in
                            tortor pharetra, in ullamcorper dolor suscipit. Nunc feugiat, enim sit amet rutrum blandit,
                            quam magna vehicula diam, in dictum quam nunc ut.</p>
                    </div>
                    <div class="btn__center">
                        <h2>
                            Vestibulum
                        </h2>
                        <p>
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Integer vitae sagittis sapien. Praesent lectus ipsum, ullamcorper et fringilla quis,
                            adipiscing a tortor. Duis mauris felis, tincidunt id lobortis eget, placerat non nibh. Nunc
                            congue libero vel nulla congue placerat.
                        </p>
                    </div>
                    <div class="btn__right">
                        <h2>
                            Nunc massa le
                        </h2>
                        <p>
                            Donec pharetra felis sem, a viverra velit varius eu. Vestibulum lorem elit, vestibulum a
                            neque tempus, blandit aliquet felis. Nunc pulvinar tellus eu lacus suscipit, sit amet
                            volutpat lorem pharetra. Donec sit amet nulla felis. Sed non lacus fringilla, eleifend sem
                            quis, tincidunt urna. Nulla facilisi. Morbi nec eleifend massa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
