/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.header__body {
  background-color: #354556;
  text-align: center;
  padding: 130px 0 100px 0; }
  .header__body h1 {
    margin: 0;
    font-size: 90px;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 400; }
  .header__body h2 {
    color: #a5b6c7;
    font-size: 32px;
    padding: 20px 0 40px 0;
    text-transform: uppercase; }
  .header__body a {
    background-color: transparent;
    color: #f2f3f4;
    border: 1px solid #868f9a;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 15px 35px;
    font-size: 15px;
    font-family: sans-serif;
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    display: inline-block;
    text-decoration: none; }
    .header__body a:hover {
      color: black;
      background-color: #f2f3f4;
      -webkit-transition: .4s ease-in-out;
      -o-transition: .4s ease-in-out;
      transition: .4s ease-in-out;
      border-color: black;
      outline: none; }

.navigate {
  background-color: #16a085; }
  .navigate .container {
    max-height: 50px; }
    .navigate .container .header__nav .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .navigate .container .header__nav .nav .nav__logo {
        padding: 5px; }
        .navigate .container .header__nav .nav .nav__logo:hover a {
          -webkit-transition: .4s ease-in-out;
          -o-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
          color: #ffff; }
        .navigate .container .header__nav .nav .nav__logo a {
          -webkit-transition: .4s ease-in-out;
          -o-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
          font-size: 20px;
          display: inline-block;
          color: #9bded1;
          text-decoration: none;
          font-family: "Lato"; }
      .navigate .container .header__nav .nav .nav_list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .navigate .container .header__nav .nav .nav_list li:nth-child(5) a {
          padding-right: 0; }
        .navigate .container .header__nav .nav .nav_list .nav__link {
          margin-left: 12px; }
          .navigate .container .header__nav .nav .nav_list .nav__link:hover a {
            color: #fff;
            -webkit-transition: .4s ease-in-out;
            -o-transition: .4s ease-in-out;
            transition: .4s ease-in-out; }
          .navigate .container .header__nav .nav .nav_list .nav__link a {
            -webkit-transition: .4s ease-in-out;
            -o-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
            padding: 17px 15px;
            display: inline-block;
            color: #9bded1;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Lato"; }

.footer {
  background-color: #2c3e50;
  width: 100%; }
  .footer .container .footer__body {
    position: relative;
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .footer .container .footer__body div {
      width: 30%; }
      .footer .container .footer__body div a {
        color: #7f8e9c;
        font-family: sans-serif;
        font-size: 15px;
        line-height: 25px;
        text-decoration: none;
        display: inline-block; }
    .footer .container .footer__body ul {
      padding-left: 50px; }
      .footer .container .footer__body ul li:hover a {
        color: #ffffff;
        -webkit-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
        transition: .4s ease-in-out; }
      .footer .container .footer__body ul:first-child {
        padding-left: 0; }
      .footer .container .footer__body ul li:first-child a {
        font-size: 15px;
        color: #ffffff;
        text-transform: uppercase;
        padding-bottom: 10px; }
      .footer .container .footer__body ul li a {
        -webkit-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
        transition: .4s ease-in-out;
        display: inline-block;
        color: #7f8e9c;
        font-family: sans-serif;
        font-size: 15px;
        line-height: 25px;
        text-decoration: none; }
    .footer .container .footer__body .footer__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .footer .container .footer__body .footer__center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .footer .container .footer__body .footer__right {
      position: relative; }
      .footer .container .footer__body .footer__right:hover a {
        color: red;
        -webkit-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
        transition: .4s ease-in-out; }
      .footer .container .footer__body .footer__right a {
        position: absolute;
        font-size: 35px;
        color: #546472;
        top: 45%;
        right: 0; }

.body__t_op {
  background-color: #ffffff;
  padding: 80px 0; }
  .body__t_op .container .t_op {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .body__t_op .container .t_op div {
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: 1fr 2fr auto;
      grid-template-rows: 1fr 2fr auto;
      width: 30%; }
      .body__t_op .container .t_op div h2 {
        color: #16a085;
        font-size: 30px;
        text-transform: uppercase;
        font-family: "Lato";
        font-weight: 400;
        padding-bottom: 30px; }
      .body__t_op .container .t_op div p {
        line-height: 24px;
        font-size: 16px;
        color: #7f8c8d;
        font-family: sans-serif;
        padding-bottom: 40px; }
      .body__t_op .container .t_op div a {
        margin: 0 30%;
        font-size: 12px;
        padding: 15px 20px;
        text-decoration: none;
        color: #16a085;
        text-transform: uppercase;
        border: 1px solid #16a085;
        -webkit-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
        transition: .4s ease-in-out; }
        .body__t_op .container .t_op div a:hover {
          border-radius: 5px;
          background-color: #16a085;
          color: #ffffff;
          -webkit-transition: .4s ease-in-out;
          -o-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
          -webkit-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.98);
          box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.98); }

.body__e_nd .body__e_nd_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .body__e_nd .body__e_nd_body div {
    max-height: 500px;
    width: 30%; }
    .body__e_nd .body__e_nd_body div img {
      max-width: 100%;
      height: 50%; }
    .body__e_nd .body__e_nd_body div h3 {
      padding: 30px 0;
      color: #16a085;
      font-size: 18px; }
    .body__e_nd .body__e_nd_body div p {
      font-size: 20px;
      line-height: 22px;
      color: #7f8c8d;
      font-family: sans-serif; }

.container {
  max-width: 1650px;
  margin-left: auto;
  padding: 0 10%; }

body {
  margin: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }
  body .header {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  body .footer {
    -ms-flex-negative: 0;
    flex-shrink: 0; }
